{% extends "base.html" %}

{% block title %}Driver Dashboard{% endblock %}

{% block content %}
    <h1>Welcome, {{ driver_name }}</h1>
    <h2>Current Job:</h2>
    {% if current_job %}
        <p><strong>Job Title:</strong> {{ current_job.title }}</p>
        <p><strong>Location:</strong> {{ current_job.job_state }}</p>
        <!-- Display other relevant information about the current job -->
        <form method="post">
            {{ driver_dashboard_form.update_profile }}
            {{ driver_dashboard_form.remove_job }}
        </form>
    {% else %}
        <p>No current job.</p>
    {% endif %}
{% endblock %}
