/* Mobile First Design */
@media (max-width:480px) {

    header {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        background-color: red;
    }
    
    nav {
        width: 100%;
        text-align: center;
        background-color: black;
    }
    
    .navbar-toggler {
        display: block;
        background-color: transparent;
        border: none;
    }
    
    .collapse-button {
        display: block;
        text-align: center;
        margin-top: 10px;
        color: white;
    }
    
    .navbar-nav {
        display: none; /* Hide the nav items */
        flex-direction: column;
        align-items: center;
        background-color: grey;
    }
    
    
}  
@media (min-width:481px) and (max-width:767px) {
  
    header {
        width: 70%;
        float: left;
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
        background-color: red;
    }
    
    nav {
        width: 100%;
        text-align: center;
        background-color: black;
    }
    
    .navbar-toggler {
        display: block;
        background-color: transparent;
        border: none;
    }
    
    .collapse-button {
        display: block;
        text-align: center;
        margin-top: 10px;
        color: white;
    }
    
    .navbar-nav {
        display: none; /* Hide the nav items */
        flex-direction: column;
        align-items: center;
        background-color: grey;
    }
    
}


@media (min-width:768px) and (max-width:991px) {
    
    header {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        background-color: red;
    }
    
    nav {
        width: 100%;
        text-align: center;
        background-color: black;
    }
    
    .navbar-toggler {
        display: block;
        background-color: transparent;
        border: none;
        
    }
    
    .collapse-button {
        display: block;
        text-align: center;
        margin-top: 10px;
        color: white;
    }
    
    .navbar-nav {
        display: none; /* Hide the nav items */
        flex-direction: column;
        align-items: center;
        background-color: grey;
    }
}


@media (min-width:992px) and (max-width:1199px) {
  
    header {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        margin-bottom: 10px;
        background-color: red;
    }
    
    nav {
        width: 100%;
        text-align: center;
        background-color: black;
    }
    
    .navbar-toggler {
        display: block;
        background-color: transparent;
        display: none; /* Hide the button on desktops */
    }
    
    .collapse-button {
        text-align: center;
        margin-top: 10px;
        color: white;
        display: none; /* Hide the button on desktops */
    }
    
    .navbar-nav {
        display: flex; /* Display nav items inline on desktops */
        justify-content: center;
        background-color: grey;
    }
}

@media (min-width:1200px) and (max-width:1919px) {
    header {
        width: 40%;
        float: left;
        padding: 30px;
        text-align: center;
        margin-bottom: 10px;
        background-color: red;
    }
    
    nav {
        width: 60%;
        float: left;
        padding: 30px;
        background-color: black;
    }
    
    .navbar-toggler {
        display: none;
    }
}


@media (min-width:1920px) {
    header {
        width: 30%;
        float: left;
        padding: 40px;
        text-align: center;
        margin-bottom: 10px;
        background-color: red;
    }
    
    nav {
        width: 70%;
        float: left;
        padding: 40px;
        background-color: black;
    }
    
    .navbar-toggler {
        display: block;
        background-color: transparent;
        display: none;
    }
    
}