{% extends "base.html" %}

{% block title %}Edit Job{% endblock %}

{% block content %}
    <h1>Edit Job</h1>
    <form action="{{ url_for('edit_job', job_id=job_id) }}" method="post">
        <!-- Job edit form fields -->
        <label for="job_title">Job Title:</label>
        <input type="text" id="job_title" name="job_title" value="{{ job.title }}" required>

        <label for="job_description">Job Description:</label>
        <textarea id="job_description" name="job_description" required>{{ job.description }}</textarea>

        <!-- Other details n fields -->

        <button type="submit">Save Changes</button>
    </form>
{% endblock %}
