{% extends "base.html" %}

{% block title %}Job Board{% endblock %}

{% block content %}
    <h1>Job Board</h1>

        <!-- Job Search Form -->
        <form action="{{ url_for('job_board') }}" method="get">
            {{ job_search_form.csrf_token }}
            
            <label for="city">City:</label>
            <input type="text" id="city" name="city" value="{{ request.args.get('city', '') }}">
    
            <label for="state">State:</label>
            <input type="text" id="state" name="state" value="{{ request.args.get('state', '') }}">
            
            <label for="keyword">Keyword:</label>
            <!-- <input type="text" id="keyword" name="keyword" value="{{ request.args.get('keyword', '') }}"> -->
            {{ job_search_form.keyword(class="form-control") }}
            <button type="submit">Search</button>
        </form>

    {% if job_data %}
        <ul>
            {% for job in job_data %}
                <li>
                    <!-- Job details... -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No job data available.</p>
    {% endif %}
{% endblock %}
