{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}


<form method="POST" id="user_form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}

    <button class="btn btn-primary btn-block btn-lg">Log in</button>
  </form>

  <button id="switch-form">Switch to Register</button>


  <script>
    document.getElementById("switch-form").addEventListener("click", function () {
        window.location.href = "{{ url_for('register') }}";
    });
</script>

{% endblock %}
