{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>



    <form method="POST" id="user_form">
        {{ form.hidden_tag() }}
  
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <div class="form-group" id="license_type_group">
            {{ form.license_type.label(class="form-label") }}
            {{ form.license_type(class="form-select") }}
        </div>
        <div class="form-group" id="company_name_group">
            {{ form.company_name.label(class="form-label") }}
            {{ form.company_name(class="form-control") }}
        </div>
        <button class="btn btn-primary btn-lg btn-block">Sign me up!</button>
      </form>
      <button id="switch-form">Switch to Login</button>



      <script>
        document.getElementById("switch-form").addEventListener("click", function () {
            window.location.href = "{{ url_for('login') }}";
        });
    
        document.getElementById("user_form").addEventListener("change", function () {
            const userRoleSelect = document.getElementById("user_role");
            const licenseTypeGroup = document.getElementById("license_type_group");
            const companyNameGroup = document.getElementById("company_name_group");
    
            if (userRoleSelect.value === "driver") {
                licenseTypeGroup.style.display = "block";
                companyNameGroup.style.display = "none";
            } else if (userRoleSelect.value === "client") {
                companyNameGroup.style.display = "block";
                licenseTypeGroup.style.display = "none";
            } else {
                licenseTypeGroup.style.display = "none";
                companyNameGroup.style.display = "none";
            }
        });
    </script>
    
{% endblock %}
