{% extends "base.html" %}

{% block title %}Job Board{% endblock %}

{% block content %}

<h1>Welcome to our app</h1>
<p>Your gateway to the extensive networks of CPC Logistics, Trillium Staffing, and ProDrivers.</p>

<h2>ProDrivers: Your Driver Solution</h2>
<ul>
    <li>Reliable Driver Supply</li>
    <li>Tailored Solutions</li>
    <li>Regulatory Compliance Relief</li>
    <li>CSA Obligation Support</li>
    <li>Exceptional Customer Service</li>
</ul>

<h2>CPC Logistics: Logistics Partner</h2>
<ul>
    <li>Private Fleet Management</li>
    <li>Permanent Driver Solutions</li>
    <li>Temporary Driver Services</li>
    <li>Warehouse Staffing</li>
</ul>

<h2>Trillium Staffing: Your Recruitment Partner</h2>
<ul>
    <li>Over 90 Branch Offices</li>
    <li>Partnerships with Leading Companies</li>
    <li>Excellence Recognition</li>
</ul>

<h2>Our App: Simplifying Access to Opportunities</h2>
<ul>
    <li>Streamlined experience</li>
    <li>Convenient access</li>
    <li>Your path to success begins here.</li>
</ul>
{% endblock %}
