{% extends "base.html" %}

{% block title %}Dispatcher Dashboard{% endblock %}

{% block content %}
    <h1>Welcome, {{ first_name }}</h1>
    <h2>All Jobs:</h2>
    <ul>
        {% for job in all_jobs %}
            <li>{{ job.jobName }} - {{ job.jobDescription }}</li>
        {% endfor %}
    </ul>
    
    <h2>Jobs by Company:</h2>
    <ul>
        {% for company, jobs in jobs_by_company.items() %}
            <li>{{ company }}</li>
            <ul>
                {% for job in jobs %}
                    <li>{{ job.jobName }} - {{ job.jobDescription }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
    
    <h2>Drivers Without Jobs:</h2>
    <ul>
        {% for driver in drivers_without_jobs %}
            <li>{{ driver.name }}</li>
        {% endfor %}
    </ul>
    
    <h2>Empty Jobs Without Driver:</h2>
    <ul>
        {% for job in empty_jobs_without_driver %}
            <li>{{ job.jobName }}</li>
        {% endfor %}
    </ul>
{% endblock %}
