{% extends "base.html" %}

{% block title %}Client Dashboard{% endblock %}

{% block content %}
    <h1>Welcome, {{ client_name }}</h1>
 
    <h2>All Jobs:</h2>
    {% if all_jobs %}
        <ul>
            {% for job in all_jobs %}
                <li>
                    <p><strong>Job Title:</strong> {{ job.title }}</p>
                    <p><strong>Location:</strong> {{ job.location }}</p>
                    <!-- Display other relevant information about the job -->
                    <form method="post">
                        {{ client_dashboard_form.remove_driver }}
                        {{ client_dashboard_form.delete_job }}
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No jobs available.</p>
    {% endif %}
{% endblock %}
