{% extends "base.html" %}

{% block title %}Client Dashboard{% endblock %}

{% block content %}
{% if client %}
    <h1>Welcome, <h1>Welcome, {{ client.first_name }} {{ client.last_name }}</h1>
    <a href="{{ url_for('edit_client', user_id=client.user_id) }}" class="btn btn-primary">Edit Profile</a>
    
    <h2>All Jobs:</h2>
    {% if all_jobs %}
        <ul>
            {% for job in all_jobs %}
                <li>
                    <p><strong>Job Title:</strong> {{ job.job_title }}</p>
                    <p><strong>State:</strong> {{ job.job_state }}</p>
                    <p><strong>Pay:</strong> {{ job.job_payrate }}</p>
                    <!-- Display other relevant information about the job -->
                    <form method="post">
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No jobs available.</p>
    {% endif %}

    <form method="get" action="{{ url_for('add_job') }}">
        <button type="submit">Add New Job</button>
    </form>
{% endif %}
{% endblock %}
