{% extends "base.html" %}

{% block title %}Post a New Job{% endblock %}

{% block content %}
{{ form.hidden_tag() }}
    <h1>Post a New Job</h1>
    <form action="{{ url_for('add_job') }}" method="post">

        {{ form.csrf_token }}
        <label for="job_title">Job Title:</label>
        <input type="text" id="job_title" name="job_title" required value="{{ form.job_title.data }}"><br>


        <label for="job_description">Job Description:</label><br>
        <textarea id="job_description" name="job_description" rows="4" cols="50" required>{{ form.job_description.data }}</textarea><br>

        <label for="job_duties">Job Duties (Bullet Points, separated by commas):</label><br>
        <input type="text" id="job_duties" name="job_duties" required value="{{ form.job_duties.data }}"><br>

        <label for="job_state">State:</label>
        <input type="text" id="job_state" name="job_state" required value="{{ form.job_state.data }}"><br>

        <label for="job_city">City:</label>
        <input type="text" id="job_city" name="job_city" required value="{{ form.job_city.data }}"><br>
        <label for="job_payrate">Pay Rate ($):</label>
        <input type="number" step="0.01" id="job_payrate" name="job_payrate" required value="{{ form.job_payrate.data }}"><br>

        <label for="job_class">Class:</label>
        {{ form.job_class(class="form-control") }}<br>

   
        <button type="submit">Post Job</button>
    </form>
{% endblock %}
